    @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&display=swap');
        
        :root {
            --background: #73937E;
            --item-background: #FFF8F0;
            --font: #311E10;
        }

        * {
            border-radius: 5px;
            padding: 3px;
        }

        h1 {
            color: var(--font);
        }

        body {
            text-align: center;
            background-color: var(--background);
            font-family: Figtree, sans-serif;
        }

        button {
            background-color: var(--item-background);
            border-radius: 50%;
            height: 27px;
            width: 27px;
        }

        button:hover {
            background-color: #393A10;
            color: var(--item-background);
        }

        #task-list {
            list-style: none;
        }

        .task-item {
            padding: 5px;
            margin: 5px;
            color: var(--font);
            background-color: gray;
            cursor: pointer;
            background-color: var(--item-background);
            transition: 0.2s ease;
        }

        .task-item:hover {
            background-color: #9e8471;
            color: var(--item-background);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        }